<section id="footer" class="section mt-20">

    <div class=" foot columns is-centered has-text-centered">
        <div class="column is-5">
            <img src="/Copy_of_Add_a_heading-removebg-preview.png" alt="logo">
        </div>
        <div class="column is-2">
            <ul>
                <li class="has-text-weight-bold headin mb-3">Useful Links</li>
                <li><a class="lists" href="https://codebeautify.org/">Visit our Website</a></li>
            </ul>
        </div>
        <div class="column is-2">
            <ul>
                <li class="has-text-weight-bold headin mb-3">About Us</li>
                <li><a class="lists" href="privacyPolicy.html">Privacy Policy</a></li>
                <li><a class="lists" href="terms_and_conditions.html">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="column is-2">
            <ul>
                <li class="has-text-weight-bold headin mb-3">Support Us</li>
                <li class="lists">Buy Us a Coffee</li>
                <li class="lists">Follow Us</li>
            </ul>
        </div>
    </div>
    <hr class="line" style="height:1px; margin-bottom: 10px;">
    <div class="is-pulled-left">
        <p class="content">HTMLViewer.org All Rights Reserved</p>
    </div>
    <!-- <div class="is-pulled-right">
        <ion-icon class="log" name="logo-twitter"></ion-icon>
        <ion-icon class="log" name="logo-facebook"></ion-icon>
        <ion-icon class="log" name="logo-instagram"></ion-icon>
        <ion-icon class="log" name="logo-youtube"></ion-icon>
    </div> -->
</section>