<section id="heading" class="section m-0 p-0 has-text-centered">
    <div class="container" style="display:flex; flex-wrap: wrap; align-items: center;">
        <h1 id="title" class="headin title is-2 mt-1">HTML Viewer</h1>
            <!-- <span class="toggle-icon" style="display:flex; justify-content: center; align-items: center; margin-left: 80px;">
                <span class="content mr-2 mb-0" id="theme">Dark Mode</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </span> -->

            <div id="layouts" class="has-text-centered" style="margin-left: auto; margin-right: 30px;">
                <button id="layout1" class="button is-small p-2 layout_button" style="border-radius: 5px;"><span class="material-symbols-outlined">
                    view_stream
                    </span></button>
                <button id="layout2" class="button is-small p-2 ml-1 layout_button" style="border-radius: 5px;"><span class="material-symbols-outlined">
                    view_column_2
                    </span></button>
                <button id="layout3" class="button is-small p-2 ml-1 layout_button"style="border-radius: 5px;"><span class="material-symbols-outlined">
                    check_box_outline_blank
                    </span></button>
                </div>
        </div>

        
    

</section>