<div>
    <nav>
        <div class="container" style="display:flex">
            <img id="main_logo" class="mt-2 ml-2 mb-2" src="/Add_a_heading__5_-removebg-preview.png"
                style="height:60px; width: 170px;" />
                
                <div id="nav_menu">
                    <a class="theme_icon"><span class="material-symbols-outlined content t_icon">
                        dark_mode
                        </span></a>
                    <a class="nav_anchor" href="#hero" style="margin-left: 20px;">HOME</a>
                    <a class="nav_anchor" href="#cont" style="margin-left: 20px;">ABOUT US</a>
                    <a class="nav_anchor" href="#footer" style="margin-left: 20px;">CONTACT US</a>

                    
                </div>

                <div id="nav_menu_small" class="dropdown1">
                    <a class="dropbtn1 content">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                    </a>
                    <div class="dropdown-content1">
                        <!-- <a class="theme_icon"><span class="material-symbols-outlined t_icon" >
                        dark_mode
                        </span></a> -->
                        <a href="#hero">HOME</a>
                        <a  href="#cont">ABOUT US</a>
                        <a href="#footer">CONTACT US</a>
                    </div>
                </div>
            
            </div>

            
    </nav>
</div>