<div id="outputEditor" class="column is-5-desktop is-12 m-5">
    <div class="p-0 editor" style="border: 1px solid #4a4a4a;">
        <div class="tools_menu_top" class="mb-0" style="height:40px;">
            <div class="pr-3 pt-1">
                <p class="is-pulled-left has-text-white pl-3">Output</p>
                <span class="is-pulled-right mt-0">
                    <input type="checkbox" id="autorun" name="autorun">
                    <label class="content" for="autorun">Auto-run</label>
                </span>
                <p style='color: white;'>
                    <span>Size: </span>
                    <span id="size2">0</span>
                    <span> B</span>
                </p>

            </div>
        </div>
        <iframe id="myiframe" style="height:400px; width:100%; display: none; background-color: white;"></iframe>
        <div id="output"></div>
        <div class="tools_menu_bottom" style="height:30px;">
            <div>
                <p class="title is-5 is-pulled-right has-text-weight-bold p-1 pr-2 m-0"><a
                        id="increase2">T</a></p>
                <p class="title is-6 is-pulled-right has-text-weight-bold p-1 m-0"><a
                        id="decrease2">T</a></p>
                <p class="is-pulled-left pt-1 pl-2" id="pointer2"></p>

            </div>
        </div>
    </div>

        <!-- output buttons -->
        <div style="margin-bottom: 150px;">
            
            <button class="button is-pulled-left is-danger is-small m-3 butts" id="reset2">Reset</button>
            <button class="button is-pulled-left is-info is-small m-3 butts" id="download2">Download</button>
            <button class="button is-pulled-left is-info is-small m-3 butts" id="copy2">Copy</button>
        
        </div>
    
</div>